body {
    font-family: 'Open Sans', sans-serif;
}

.wrap {

}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    text-align: center;
    padding: 20px 0;
}

header .my_photo img {
    width: 300px;
    border-radius: 300px;
}

header .name {
    font-size: 32px;
}

nav {
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline;
    padding: 0 10px;
}

section {
    margin:0;
}

section .title {
    font-size: 22px;
    margin: 20px 0 0 0;
}

/* ABOUT */

.skills span {
    background: #cccccc;
    padding: 5px;
}

/* END ABOUT */

/* PORTFOLIO */

.portfolio_item {
    margin: 20px 5px 0 5px;
}

.last {
    margin: 20px 0 0 10px;
}

.first {
    margin: 20px 10px 0 0;
}

.portfolio_item a {
    text-align: center;
    border: 1px dashed gray;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    height: 200px;
    padding: 15px;
}

.portfolio_item a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.portfolio_item a:hover {
    border: 1px solid gray;
}

.portfolio_item a img {
    vertical-align: middle;
    width: 100%;
}

.portfolio_item:hover .link a {
    color: red;
}

.portfolio_item .link a {
    height: auto;
    padding: 0;
    display: block;
    border: none;
}

.portfolio_item .link a:before {
    height: auto;
    vertical-align: top;
}

/* END PORTFOLIO */